.btn2 {
  background-color: #12a8a8;
  border: none;
  color: black;
  padding: 2vw 2vw;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 30px;
}



.btn3 {
  background-color: #ee0505;
  border: none;
  color: rgb(17, 0, 255);
  padding: 0vw 1vw;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 59px;
  right:0;
  border-radius: 0px;
}

.adminButton {
  color: black;
  font-size: 16px;

}

.dashCard{
  min-width: 300px;
  max-width: 45%;
  background-color: bisque;

  padding: 5px;
  border: 1pt solid #232323;
  border-radius: 15px;
}

.gridHolder{
  display: grid; 
  grid-auto-columns: 300px; 
  gap: 0px 0px; 
  justify-items: center; 
  align-items: center; 
}

.dashHolder{
  margin: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  max-width: 90%;
}

.reverse{
  flex-direction: row-reverse;
}

.content{
  flex: 3;
}

.btnHolder{
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}